@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/static/Inter-Regular.ttf") format("truetype");
}

body {
  font-family: "Inter", sans-serif;
  background-color: hsl(0, 0%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 10px;
  font-size: 14px;
}

.container {
  text-align: center;
  background-color: hsl(0, 0%, 12%);
  border-radius: 10px;
  padding: 30px;
  max-width: 350px;
}

.profile-image {
  width: 70px;
  height: 70px;
  border-radius: 50%; /* rend l’image circulaire */
  object-fit: cover; /* garde les proportions */
  margin-bottom: 5px;
}

h3 {
  color: hsl(0, 0%, 100%);
  margin: 10px 0 5px 0;
}

.one {
  color: hsl(75, 94%, 57%);
  margin: 5px 0;
}

.two {
  color: hsl(0, 0%, 55%);
  margin: 20px 0 5px 0;
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.social-links a {
  padding: 10px;
  width: 250px;
  background-color: hsl(0, 0%, 20%);
  border-radius: 5px;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: small;
  font-weight: 700;
}

a:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
}

@media (max-width: 375px) {
  .container {
    width: 100%;
    padding: 20px;
  }

  .social-links a {
    width: auto;
  }
}
